.sminortags {
  margin: 2rem;
  font-size: 1.3rem;
}

.taggrein {
  border: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  padding: 2rem;
}
