{% extends 'dashboard/base_zero_greinar.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "No greinars found." %}{% endblock %}
{% block content %}
  {% static "dashboard/images/add.svg" as img_path %}
  {% blocktrans %}
    greinars allows to create custom static greinars such as "About us" that will be displayed at particular url.<br>
    You can create greinars by using the <span class="btn-fab-presentation"><svg data-src="{{ img_path }}" /></span> button.
  {% endblocktrans %}
{% endblock %}
